<div class="gridster">
    <h1>Admin Area</h1>
    <div>You will need your admin key to enable any actions</div>

    <div>You know where to go.</div>
    <button>Burndown</button>
    <button>Sprint Goal</button>
</div>