<div class="gridster">
    <h1>Login</h1>
    <ul>
        <li data-row="2" data-col="1" data-sizex="3" data-sizey="3">
            <div>
                <form action="/Admin/Login" method="post">
                    <p>                        
                        <input id="authCode" name="authCode" type="text" /><br>
                        <input type="submit" value="Submit"><br><br>                        
                    </p>
                </form>
            </div>
        </li>
    </ul>
</div>