@-webkit-keyframes tcstatus-warning-background {
  0% {
    background-color: #E64040; }
  50% {
    background-color: #E64040; }
  100% {
    background-color: #E64040; } }

/*
@include keyframes(blink) {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
    */
.widget-team-city {
  background-color: #444;
  vertical-align: top !important; }
  .widget-team-city h1 {
    text-transform: none; }
  .widget-team-city h3 {
    font-size: 15px;
    margin: 5px 0;
    font-weight: lighter; }
  .widget-team-city img {
    position: absolute;
    top: 30px;
    left: 50px;
    margin: 0 auto;
    opacity: 0.05;
    max-width: 80%;
    max-height: 80%; }
  .widget-team-city .title, .widget-team-city strong {
    color: white; }
  .widget-team-city ul {
    margin: 0;
    text-align: left;
    list-style: none;
    color: rgba(255, 255, 255, 0.7); }
  .widget-team-city li {
    margin-bottom: 3px;
    width: 100%; }
  .widget-team-city .project .project-name {
    padding-top: 5px; }
  .widget-team-city .builds {
    margin-bottom: 5px; }
    .widget-team-city .builds p {
      padding: 8px; }
    .widget-team-city .builds li {
      background-color: rgba(115, 115, 115, 0.73);
      width: 100%; }
    .widget-team-city .builds .SUCCESS {
      background-color: rgba(111, 214, 85, 0.66); }
    .widget-team-city .builds .FAILURE {
      background-color: #E64040;
      -webkit-animation: tcstatus-warning-background 2s step-start infinite;
      -moz-animation: tcstatus-warning-background 2s step-start infinite;
      -ms-animation: tcstatus-warning-background 2s step-start infinite; }
    .widget-team-city .builds .INVESTIGATION {
      background-color: #E64040; }
      .widget-team-city .builds .INVESTIGATION span:before {
        content: "\f06e";
        font-family: FontAwesome;
        padding-right: 3px; }
    .widget-team-city .builds .build-type-name {
      font-size: 17px; }
  .widget-team-city .updated-at {
    color: rgba(0, 0, 0, 0.3); }
  .widget-team-city .more-info {
    color: rgba(255, 255, 255, 0.7); }

